on: [pull_request]
 
jobs:
  test:
    name: Evaluate Postgres Changes
    runs-on: ubuntu-latest
    steps:
      - name: data lineage check
        uses: grai-io/grai-actions/postgres@master
        with:
          namespace: "prod"
          workspace: "db348917-0de3-473c-aaf8-821bfac61acb" 
          action: tests
          api-key: "VOUtFVU.E6NIxTSPXmFOmMJWq2Oxtnlah0Wm5cn1"
          grai-api-url: "https://api.grai.io"
          grai-app-url: "https://app.grai.io"
          db-host: sample-database.cudyk77thtpt.us-west-2.rds.amazonaws.com
          db-user: postgres
          db-password: jnicGnmRdXclhURSRr86
          db-database-name: jaffle_shop_dev
